/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100px;
}

@media (max-width: 767px) {
  html {
    font-size: calc(100px * 0.8);
  }
}

@media (max-width: 959px) {
  html {
    font-size: calc(100px * 0.8);
  }
}

body {
  font-size: 0.16rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

@-webkit-keyframes is-Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes is-Show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes is-Hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes is-Hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.row--NoGutters {
  margin: 0;
}

.col-1,
.col-lg-1 {
  width: 8.33333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  padding: 0 8px;
}

.col-2,
.col-lg-2 {
  width: 16.66667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  padding: 0 8px;
}

.col-3,
.col-lg-3 {
  width: 25%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 0 8px;
}

.col-4,
.col-lg-4 {
  width: 33.33333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  padding: 0 8px;
}

.col-5,
.col-lg-5 {
  width: 41.66667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  padding: 0 8px;
}

.col-6,
.col-lg-6 {
  width: 50%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 0 8px;
}

.col-7,
.col-lg-7 {
  width: 58.33333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  padding: 0 8px;
}

.col-8,
.col-lg-8 {
  width: 66.66667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  padding: 0 8px;
}

.col-9,
.col-lg-9 {
  width: 75%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  padding: 0 8px;
}

.col-10,
.col-lg-10 {
  width: 83.33333%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  padding: 0 8px;
}

.col-11,
.col-lg-11 {
  width: 91.66667%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  padding: 0 8px;
}

.col-12,
.col-lg-12 {
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  padding: 0 8px;
}

@media (max-width: 959px) {
  .col-md-1 {
    width: 8.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    padding: 0 8px;
  }
  .col-md-2 {
    width: 16.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    padding: 0 8px;
  }
  .col-md-3 {
    width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 8px;
  }
  .col-md-4 {
    width: 33.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    padding: 0 8px;
  }
  .col-md-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    padding: 0 8px;
  }
  .col-md-6 {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 8px;
  }
  .col-md-7 {
    width: 58.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    padding: 0 8px;
  }
  .col-md-8 {
    width: 66.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    padding: 0 8px;
  }
  .col-md-9 {
    width: 75%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    padding: 0 8px;
  }
  .col-md-10 {
    width: 83.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    padding: 0 8px;
  }
  .col-md-11 {
    width: 91.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    padding: 0 8px;
  }
  .col-md-12 {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 0 8px;
  }
}

@media (max-width: 767px) {
  .col-sm-1 {
    width: 8.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 8.33333%;
    padding: 0 8px;
  }
  .col-sm-2 {
    width: 16.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    padding: 0 8px;
  }
  .col-sm-3 {
    width: 25%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    padding: 0 8px;
  }
  .col-sm-4 {
    width: 33.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    padding: 0 8px;
  }
  .col-sm-5 {
    width: 41.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    padding: 0 8px;
  }
  .col-sm-6 {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    padding: 0 8px;
  }
  .col-sm-7 {
    width: 58.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.33333%;
    flex: 0 0 58.33333%;
    padding: 0 8px;
  }
  .col-sm-8 {
    width: 66.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    padding: 0 8px;
  }
  .col-sm-9 {
    width: 75%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    padding: 0 8px;
  }
  .col-sm-10 {
    width: 83.33333%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    padding: 0 8px;
  }
  .col-sm-11 {
    width: 91.66667%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.66667%;
    flex: 0 0 91.66667%;
    padding: 0 8px;
  }
  .col-sm-12 {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    padding: 0 8px;
  }
}

.col--NoGutters {
  padding: 0;
}

.l-Header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px 1px;
  background: #fff;
}

.l-BodyContainer {
  padding-top: 55px;
}

.l-KeyVisual {
  position: relative;
  width: 100%;
  height: 400px;
}

@media (max-width: 959px) {
  .l-KeyVisual {
    height: 300px;
  }
}

.l-ContentContainer {
  background: #fff;
  padding: 60px 0;
}

.Card {
  background-color: #fff;
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 16px;
}

.CardBody {
  padding: 24px;
}

[class^="col"] > .CardBody {
  padding-left: 16px;
}

[class^="col"] > .Card__Image {
  padding: 24px 0 24px 24px;
}

.Card__Title {
  margin: 0 0 12px;
  font-size: 0.24rem;
  line-height: 1.3;
}

.Card__Text {
  line-height: 1.5;
}

.Card__Text:last-child {
  margin-bottom: 0;
}

.HeaderBar {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: auto;
  padding-right: 40px;
  padding-left: 40px;
}

@media (max-width: 767px) {
  .HeaderBar {
    height: 56px;
    line-height: 56px;
    padding-right: 0px;
    padding-left: 0px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media (max-width: 959px) {
  .HeaderBar__Nav {
    display: block;
  }
}

@media (max-width: 767px) {
  .HeaderBar__Nav {
    width: 100%;
    border-top: 1px solid #ccc;
    display: none;
  }
}

@media (min-width: 960px) {
  .HeaderBar__Logo {
    height: 60px;
  }
}

@media (max-width: 959px) {
  .HeaderBar__Logo {
    height: 56px;
  }
}

.HeaderBar__Link {
  font-size: 0.19rem;
  height: 100%;
  display: inline-block;
}

.HeaderBar__Link:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .HeaderBar__Link {
    padding-left: 16px;
  }
}

@media (min-width: 960px) {
  .HeaderBar__Link--Text {
    line-height: 60px;
  }
}

@media (max-width: 959px) {
  .HeaderBar__Link--Text {
    line-height: 56px;
  }
}

.HeaderBar__logoImage {
  width: 130px;
  height: auto;
}

.GlobalNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .GlobalNav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
}

.GlobalNav__Link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1;
  padding: 22px 24px;
  position: relative;
  pointer-events: none;
}

.GlobalNav__Link:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .GlobalNav__Link {
    display: block;
    padding: 16px;
    border-bottom: 1px solid #f1f1f1;
    background: #ccc;
  }
}

.GlobalNav__Link:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: auto;
  padding: 0 24px;
  display: block;
  width: calc(100% - 48px);
  height: 2px;
  background: red;
  opacity: 0;
  -webkit-transition: all 0.4s 0s ease;
  transition: all 0.4s 0s ease;
}

.GlobalNavDropDown {
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 17px -8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 17px -8px;
}

@media (max-width: 959px) {
  .GlobalNavDropDown {
    top: 56px;
  }
}

@media (max-width: 767px) {
  .GlobalNavDropDown {
    position: unset;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.GlobalNavDropDown__Inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  padding: 8px 40px 32px;
}

@media (max-width: 767px) {
  .GlobalNavDropDown__Inner {
    padding: 0;
  }
}

.GlobalNavDropDown__Item {
  margin-right: 24px;
  width: calc(33% - 24px);
  border-bottom: 1px solid #ccc;
}

.GlobalNavDropDown__Item:nth-child(3n) {
  margin-right: 0;
  width: 33.3%;
}

@media (max-width: 767px) {
  .GlobalNavDropDown__Item {
    margin: 0;
    width: 100%;
  }
  .GlobalNavDropDown__Item:nth-child(3n) {
    margin: 0;
    width: 100%;
  }
}

.GlobalNavDropDown__Link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 16px 8px;
  width: 100%;
}

.GlobalNavDropDown__Link:hover {
  opacity: 0.6;
}

@media (max-width: 767px) {
  .GlobalNavDropDown__Link {
    padding: 16px;
  }
}

.GlobalNav__Item .is-Active:after {
  opacity: 1;
}

@media (max-width: 767px) {
  .GlobalNav__Item .is-Active:after {
    content: none;
  }
}

.is-Hidden {
  display: none;
}

.SectionLine {
  width: 100%;
  height: 1px;
  background: #ccc;
}

/* sp Menu */
.ToggleDrawer {
  display: none;
}

@media (max-width: 767px) {
  .ToggleDrawer {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    top: 0px;
    right: 0px;
  }
}

@media (max-width: 767px) {
  .ToggleDrawer__Button {
    position: relative;
    border: 0;
    width: 100%;
    height: 100%;
    background: none;
    -webkit-appearance: none;
  }
}

.ToggleDrawer__Line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 3px;
  width: 17px;
  height: 3px;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
  background: #000;
  font-size: 0;
}

.ToggleDrawer__Line:nth-child(1) {
  -webkit-transform: translateY(-7px);
  -ms-transform: translateY(-7px);
  transform: translateY(-7px);
}

.ToggleDrawer__Line:nth-child(3) {
  -webkit-transform: translateY(7px);
  -ms-transform: translateY(7px);
  transform: translateY(7px);
}

.ToggleDrawer.is-Active .ToggleDrawer__Line:nth-child(1) {
  -webkit-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.ToggleDrawer.is-Active .ToggleDrawer__Line:nth-child(2) {
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ToggleDrawer.is-Active .ToggleDrawer__Line:nth-child(3) {
  -webkit-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

.KeyVisual--TopBg {
  background: url(/img/TopBg.jpg) center/cover no-repeat;
}

.KeyVisual--pageBBg {
  background: url(/img/pageBBg.jpg) center/cover no-repeat;
}

.KeyVisual--pageCBg {
  background: url(/img/pageCBg.jpg) center/cover no-repeat;
}

.KeyVisual--pageDBg {
  background: url(/img/pageDBg.jpg) center/cover no-repeat;
}

.KeyVisual--pageEBg {
  background: url(/img/pageEBg.jpg) center/cover no-repeat;
}

.KeyVisual--Fill:before {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.KeyVisual__Body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.KeyVisual__Body--Start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
  margin-left: 120px;
}

.KeyVisual__Body--End {
  text-align: left;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 150px;
}

.KeyVisual__Group {
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.KeyVisual__Group--Fill {
  width: 30%;
  color: #333;
  background: #ffffff;
  padding: 32px;
}

.KeyVisual__Headline {
  font-weight: normal;
  font-size: 0.4rem;
  margin-bottom: 16px;
  line-height: 1.3;
}

.KeyVisual__Text {
  line-height: 1.8;
}

.Tab {
  width: 100%;
  max-width: 1280px;
}

.TabMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.TabMenu__Item {
  width: 33%;
  text-align: center;
  padding: 20px 0;
  opacity: 0.4;
  cursor: pointer;
  position: relative;
}

.TabMenu__Item.is-Active {
  opacity: 1;
}

.TabMenu__Item.is-Active:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0 24px;
  display: block;
  width: 10%;
  height: 2px;
  background: red;
  -webkit-transition: all 0.4s 0s ease;
  transition: all 0.4s 0s ease;
}

.TabContent {
  display: none;
}

.TabContent.is-Show {
  display: block;
  -webkit-animation: is-Show 0.4s linear 0s;
  animation: is-Show 0.4s linear 0s;
}

.TabContent__Link {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #f1f1f1;
  padding: 16px;
}

@media (min-width: 960px) {
  .TabContent__Link {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .TabContent__Link:before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
  }
  .TabContent__Link:hover:before {
    width: 100%;
    opacity: 1;
  }
}

.TabContent__PageLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.TabContent__PageLink:hover {
  opacity: 0.6;
}

.TabContent__PageLinkItem {
  display: inline-block;
  padding: 16px;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.Icon--CircleRight {
  float: right;
  margin-left: 16px;
}

.Icon--CircleRightNarrow {
  margin-left: 8px;
}

@keyframes is-Show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Label {
  display: inline-block;
  background: #333;
  padding: 4px 8px;
  min-width: 48px;
  color: #fff;
  font-size: 0.13rem;
  margin: 0 12px;
  text-align: center;
  border-radius: 0.16rem;
}

.Label--Primary {
  background: #ed1c23;
}

.Label--Secondary {
  background: #200473;
}

.Label--OutLine {
  background: #fff;
  border: 1px solid #333;
  color: #333;
}

.Label--Tab {
  width: 94px;
}

.News {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.News__Body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (max-width: 767px) {
  .News__Body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

@media (max-width: 767px) {
  .News__Heading {
    margin-bottom: 8px;
  }
}

.Accordion {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-size: 0.16rem;
  line-height: 1.5;
}

.AccordionTitleContainer {
  position: relative;
  padding-left: 48px;
}

.AccordionTitleContainer:before {
  content: "Q";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-indent: 0;
  font-size: 16px;
}

.AccordionTitle {
  position: relative;
  margin: 0;
  padding: 24px 0;
  font-weight: normal;
  color: #333;
  cursor: pointer;
}

.AccordionTitle::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  width: 20px;
  height: 1px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background: #333;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.AccordionTitle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  width: 20px;
  height: 1px;
  background: #333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.AccordionTitleContainer.is-Open .AccordionTitle::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.AccordionTitleContainer.is-Open .AccordionTitle::after {
  opacity: 0;
}

.Accordion__Content {
  padding-bottom: 32px;
  position: relative;
  padding-left: 48px;
}

.Accordion__Content:before {
  content: "A";
  display: inline-block;
  position: absolute;
  left: 0;
  background: #333;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-indent: 0;
  font-size: 16px;
}

.Accordion__Content.is-Hidden {
  display: none;
}

.Accordion__Item {
  border-bottom: 1px solid #cdcbca;
}

.HeadlineLv1 {
  text-align: center;
  margin-bottom: 32px;
}

.u-Mb8 {
  margin-bottom: 8px;
}

.u-Mr8 {
  margin-right: 8px;
}

.u-Ml8 {
  margin-left: 8px;
}

.u-Pb8 {
  padding-bottom: 8px;
}

.u-Pr8 {
  padding-right: 8px;
}

.u-Pl8 {
  padding-left: 8px;
}

.u-Mb16 {
  margin-bottom: 16px;
}

.u-Mr16 {
  margin-right: 16px;
}

.u-Ml16 {
  margin-left: 16px;
}

.u-Pb16 {
  padding-bottom: 16px;
}

.u-Pr16 {
  padding-right: 16px;
}

.u-Pl16 {
  padding-left: 16px;
}

.u-Mb24 {
  margin-bottom: 24px;
}

.u-Mr24 {
  margin-right: 24px;
}

.u-Ml24 {
  margin-left: 24px;
}

.u-Pb24 {
  padding-bottom: 24px;
}

.u-Pr24 {
  padding-right: 24px;
}

.u-Pl24 {
  padding-left: 24px;
}

.u-Mb32 {
  margin-bottom: 32px;
}

.u-Mr32 {
  margin-right: 32px;
}

.u-Ml32 {
  margin-left: 32px;
}

.u-Pb32 {
  padding-bottom: 32px;
}

.u-Pr32 {
  padding-right: 32px;
}

.u-Pl32 {
  padding-left: 32px;
}

.u-Mb40 {
  margin-bottom: 40px;
}

.u-Mr40 {
  margin-right: 40px;
}

.u-Ml40 {
  margin-left: 40px;
}

.u-Pb40 {
  padding-bottom: 40px;
}

.u-Pr40 {
  padding-right: 40px;
}

.u-Pl40 {
  padding-left: 40px;
}

.u-Mb48 {
  margin-bottom: 48px;
}

.u-Mr48 {
  margin-right: 48px;
}

.u-Ml48 {
  margin-left: 48px;
}

.u-Pb48 {
  padding-bottom: 48px;
}

.u-Pr48 {
  padding-right: 48px;
}

.u-Pl48 {
  padding-left: 48px;
}

.u-Mb56 {
  margin-bottom: 56px;
}

.u-Mr56 {
  margin-right: 56px;
}

.u-Ml56 {
  margin-left: 56px;
}

.u-Pb56 {
  padding-bottom: 56px;
}

.u-Pr56 {
  padding-right: 56px;
}

.u-Pl56 {
  padding-left: 56px;
}

.u-Mb64 {
  margin-bottom: 64px;
}

.u-Mr64 {
  margin-right: 64px;
}

.u-Ml64 {
  margin-left: 64px;
}

.u-Pb64 {
  padding-bottom: 64px;
}

.u-Pr64 {
  padding-right: 64px;
}

.u-Pl64 {
  padding-left: 64px;
}

.u-Inner {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding-right: 40px;
  padding-left: 40px;
}

@media (max-width: 959px) {
  .u-Inner {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-Inner {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.u-Flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.u-BackGray {
  background: #f1f1f1;
}

.is-Hidden {
  display: none;
}
