.Accordion {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  font-size: 0.16rem;
  line-height: $line-height-default;
}

.AccordionTitleContainer {
  position: relative;
  padding-left: 48px;
  &:before {
    content: "Q";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-indent: 0;
    font-size: 16px;
  }
}

.AccordionTitle {
  position: relative;
  margin: 0;
  padding: 24px 0;
  font-weight: normal;
  color: #333;
  cursor: pointer;
}
// .AccordionTitleContainer:hover,
// .AccordionTitleContainer:active,
// .AccordionTitleContainer.open {
//   background-color: #00aaa7;
// }

.AccordionTitle::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  width: 20px;
  height: 1px;
  transform: rotate(90deg);
  background: #333;
  transition: all 0.3s ease-in-out;
}

.AccordionTitle::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  width: 20px;
  height: 1px;
  background: #333;
  transition: all 0.2s ease-in-out;
}

.AccordionTitleContainer.is-Open .AccordionTitle::before {
  transform: rotate(180deg);
}

.AccordionTitleContainer.is-Open .AccordionTitle::after {
  opacity: 0;
}

.Accordion__Content {
  padding-bottom: 32px;
  position: relative;
  padding-left: 48px;
  &:before {
    content: "A";
    display: inline-block;
    position: absolute;
    left: 0;
    background: #333;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-indent: 0;
    font-size: 16px;
  }
  &.is-Hidden {
    display: none;
  }
}

.Accordion__Item {
  border-bottom: 1px solid #cdcbca;
  // padding-bottom: 8px;
}
