@charset "utf-8";
.Card {
  background-color: #fff;
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 16px;
}

.CardBody {
  padding: 24px;
}
[class^="col"] > .CardBody {
  padding-left: 16px;
}

[class^="col"] > .Card__Image {
  padding: 24px 0 24px 24px;
}
.Card__Title {
  margin: 0 0 12px;
  font-size: 0.24rem;
  line-height: $line-height-narrow;
}

.Card__Text {
  line-height: $line-height-default;

  &:last-child {
    margin-bottom: 0;
  }
}
