@charset "utf-8";
.GlobalNav {
  display: flex;
  flex-wrap: wrap;
  @include sp {
    flex-flow: column;
  }
  &__Link {
    display: inline-flex;
    line-height: 1;
    padding: 22px 24px;
    position: relative;
    pointer-events: none;
    @include textlink;
    @include sp {
      display: block;
      padding: 16px;
      border-bottom: 1px solid #f1f1f1;
      background: #ccc;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: auto;
      padding: 0 24px;
      display: block;
      width: calc(100% - 48px);
      height: 2px;
      background: red;
      opacity: 0;
      transition: all 0.4s 0s ease;
      // ここにプラス
      @include sp {
      }
    }
  }
}

.GlobalNavDropDown {
  background: #fff;
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 17px -8px;
  @include tab {
    top: 56px;
  }
  @include sp {
    position: unset;
    box-shadow: none;
  }

  &__Inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto;
    padding: 8px 40px 32px;
    @include sp {
      padding: 0;
    }
  }
  &__Item {
    margin-right: 24px;
    width: calc(33% - 24px);
    border-bottom: 1px solid #ccc;
    &:nth-child(3n) {
      margin-right: 0;
      width: 33.3%;
    }
    @include sp {
      margin: 0;
      width: 100%;
      &:nth-child(3n) {
        margin: 0;
        width: 100%;
      }
    }
  }
  &__Link {
    @include textlink;
    display: inline-flex;
    padding: 16px 8px;
    width: 100%;
    @include sp {
      padding: 16px;
    }
  }
}

.GlobalNav__Item .is-Active:after {
  opacity: 1;
  @include sp {
    content: none;
  }
}

.is-Hidden {
  display: none;
}

.SectionLine {
  width: 100%;
  height: 1px;
  background: #ccc;
}

/* sp Menu */
.ToggleDrawer {
  display: none;
  @include sp {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    top: 0px;
    right: 0px;
  }
}

.ToggleDrawer__Button {
  @include sp {
    position: relative;
    border: 0;
    width: 100%;
    height: 100%;
    background: none;
    -webkit-appearance: none;
  }
}

.ToggleDrawer__Line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 3px;
  width: 17px;
  height: 3px;
  -webkit-transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.58, 1);
  background: #000;
  font-size: 0;
}

.ToggleDrawer__Line:nth-child(1) {
  transform: translateY(-7px);
}

.ToggleDrawer__Line:nth-child(3) {
  transform: translateY(7px);
}
.ToggleDrawer.is-Active .ToggleDrawer__Line:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}
.ToggleDrawer.is-Active .ToggleDrawer__Line:nth-child(2) {
  opacity: 0;
  transform: rotate(-45deg);
}
.ToggleDrawer.is-Active .ToggleDrawer__Line:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}
