.HeaderBar {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: auto;
  padding-right: 40px;
  padding-left: 40px;
  @include sp {
    height: 56px;
    line-height: 56px;
    padding-right: 0px;
    padding-left: 0px;
    flex-wrap: wrap;
  }
  &__Nav {
    @include tab {
      display: block;
    }
    @include sp {
      width: 100%;
      border-top: 1px solid #ccc;
      display: none;
    }
  }
  &__Logo {
    @include pc {
      height: 60px;
    }
    @include tab {
      height: 56px;
    }
  }
  &__Link {
    @include textlink;
    font-size: 0.19rem;
    height: 100%;
    display: inline-block;
    @include sp {
      padding-left: 16px;
    }
    &--Text {
      @include pc {
        line-height: 60px;
      }
      @include tab {
        line-height: 56px;
      }
    }
  }
  // svg ver
  &__logoImage {
    width: 130px;
    height: auto;
  }
}
