$pages: Top, pageB, pageC, pageD, pageE;

@each $page in $pages {
  .KeyVisual--#{$page}Bg {
    background: url(/img/#{$page}Bg.jpg) center / cover no-repeat;
  }
}

.KeyVisual {
  &--Fill {
    &:before {
      content: "";
      display: block;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__Body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    &--Start {
      justify-content: flex-start;
      text-align: left;
      margin-left: 120px;
    }
    &--End {
      text-align: left;
      justify-content: flex-end;
      margin-right: 150px;
    }
  }
  &__Group {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    z-index: 2;
    &--Fill {
      width: 30%;
      color: #333;
      background: #ffffff;
      padding: 32px;
    }
  }
  &__Headline {
    font-weight: normal;
    font-size: 0.4rem;
    margin-bottom: 16px;
    line-height: $line-height-narrow;
  }
  &__Text {
    line-height: $line-height-wide;
  }
}
