.Label {
  display: inline-block;
  background: #333;
  padding: 4px 8px;
  min-width: 48px;
  color: #fff;
  font-size: 0.13rem;
  margin: 0 12px;
  text-align: center;
  border-radius: 0.16rem;
}

.Label--Primary {
  background: #ed1c23;
}

.Label--Secondary {
  background: #200473;
}

.Label--OutLine {
  background: #fff;
  border: 1px solid #333;
  color: #333;
}

.Label--Tab {
  width: 94px;
}
