.News {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__Body {
    display: flex;
    align-items: center;
    @include sp {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__Heading {
    @include sp {
      margin-bottom: 8px;
    }
  }
}
