.Tab {
  width: 100%;
  max-width: 1280px;

  &Menu {
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ccc;

    &__Item {
      width: 33%;
      text-align: center;
      padding: 20px 0;
      opacity: 0.4;
      cursor: pointer;
      position: relative;
      &.is-Active {
        opacity: 1;
        &:after {
          content: "";
          display: inline-block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          padding: 0 24px;
          display: block;
          width: 10%;
          height: 2px;
          background: red;
          transition: all 0.4s 0s ease;
          // ここにプラス
        }
      }
    }
  }
}

.TabContent {
  display: none;
  &.is-Show {
    display: block;
    animation: is-Show 0.4s linear 0s;
  }
  &__Link {
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #f1f1f1;
    padding: 16px;
    @include hovereffect;
  }

  &__PageLink {
    display: flex;
    justify-content: flex-end;
    @include textlink;
  }
  &__PageLinkItem {
    display: inline-block;
    padding: 16px;
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
}

.Icon--CircleRight {
  float: right;
  margin-left: 16px;
  &Narrow {
    margin-left: 8px;
  }
}

@keyframes is-Show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
