<div class="Header u-Flex">
  <div class="Header__Brand">
    <a href="#" class="Header__Logo">
      <span class="Header__logoText">株式会社 ANY</span>
      <!-- <img src="/img/common/logo.svg" class="Header__LogoImage" /> -->
    </a>
  </div>
  <div class="ToggleDrawer" data-js="toggle_drawer">
    <button class="ToggleDrawer__Button">
      <span class="ToggleDrawer__Line"></span>
      <span class="ToggleDrawer__Line"></span>
      <span class="ToggleDrawer__Line"></span>
    </button>
  </div>
  <div class="Header__Nav" data-js="header_nav">
    <ul class="GlobalNav">
      <li class="GlobalNav__Item" data-js="dropdown-trigger">
        <a class="GlobalNav__Link" href="#">企業情報</a>
        <div class="GlobalNavDropDown is-Hidden" data-js="grobal-nav-dropdown">
          <div class="u-Inner" data-js="grobal-nav-dropdown-none">
            <div class="SectionLine"></div>
          </div>
          <ul class="GlobalNavDropDown__Inner">
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>会社概要</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>企業理念</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>ビジョン</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>トップメッセージ</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>役員紹介</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>アクセス</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>ニュース</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="GlobalNav__Item">
        <a class="GlobalNav__Link" href="#">ニュース</a>
      </li>
      <li class="GlobalNav__Item">
        <a class="GlobalNav__Link" href="#">IR情報</a>
      </li>
      <li class="GlobalNav__Item">
        <a class="GlobalNav__Link" href="#">採用情報</a>
      </li>
    </ul>
  </div>
</div>
