<div class="HeaderBar u-Flex">
  <div class="HeaderBar__Logo">
    <a href="#" class="HeaderBar__Link HeaderBar__Link--Text">
      株式会社 ANY
    </a>
  </div>
  <div class="ToggleDrawer" data-js="dropdown-trigger-sp">
    <button class="ToggleDrawer__Button">
      <span class="ToggleDrawer__Line"></span>
      <span class="ToggleDrawer__Line"></span>
      <span class="ToggleDrawer__Line"></span>
    </button>
  </div>
  <div class="HeaderBar__Nav" data-js="dropdown-first">
    <ul class="GlobalNav">
      <li class="GlobalNav__Item" data-js="dropdown-trigger">
        <a class="GlobalNav__Link" href="#">企業情報</a>
        <div class="GlobalNavDropDown is-Hidden" data-js="dropdown-secondary">
          <div class="SectionLine" data-js="dropdown-line"></div>
          <ul class="GlobalNavDropDown__Inner">
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>会社概要</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>企業理念</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>ビジョン</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>トップメッセージ</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>役員紹介</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>アクセス</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
            <li class="GlobalNavDropDown__Item">
              <a class="GlobalNavDropDown__Link u-Flex" href="#">
                <span>ニュース</span>
                <i class="fas fa-chevron-circle-right u-Ml16"></i>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="GlobalNav__Item">
        <a class="GlobalNav__Link" href="#">ニュース</a>
      </li>
      <li class="GlobalNav__Item">
        <a class="GlobalNav__Link" href="#">IR情報</a>
      </li>
      <li class="GlobalNav__Item">
        <a class="GlobalNav__Link" href="#">採用情報</a>
      </li>
    </ul>
  </div>
</div>
