@charset "utf-8";
// margin
@for $i from 1 through 8 {
  .u-Mb#{$i * 8} {
    margin-bottom: #{$i * $spacer};
  }
  .u-Mr#{$i * 8} {
    margin-right: #{$i * $spacer};
  }
  .u-Ml#{$i * 8} {
    margin-left: #{$i * $spacer};
  }
  .u-Pb#{$i * 8} {
    padding-bottom: #{$i * $spacer};
  }
  .u-Pr#{$i * 8} {
    padding-right: #{$i * $spacer};
  }
  .u-Pl#{$i * 8} {
    padding-left: #{$i * $spacer};
  }
}

.u-Inner {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  padding-right: 40px;
  padding-left: 40px;
  @include tab {
    padding-right: 24px;
    padding-left: 24px;
  }
  @include sp {
    padding-right: 16px;
    padding-left: 16px;
  }
}
