@charset "utf-8";
.l-Header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px 1px;
  background: #fff;
}

// ヘッダーの高さを確保する用
.l-BodyContainer {
  padding-top: 55px;
}

.l-KeyVisual {
  position: relative;
  width: 100%;
  height: 400px;
  @include tab {
    height: 300px;
  }
}

.l-ContentContainer {
  background: #fff;
  padding: 60px 0;
}
