@charset "utf-8";
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}

.row--NoGutters {
  margin: 0;
}

@for $number from 1 through 12 {
  .col-#{$number},
  .col-lg-#{$number} {
    width: percentage($number/12);
    flex: 0 0 percentage($number/12);
    padding: 0 $spacer;
  }
}

@include tab {
  @for $number from 1 through 12 {
    .col-md-#{$number} {
      width: percentage($number/12);
      flex: 0 0 percentage($number/12);
      padding: 0 $spacer;
    }
  }
}

@include sp {
  @for $number from 1 through 12 {
    .col-sm-#{$number} {
      width: percentage($number/12);
      flex: 0 0 percentage($number/12);
      padding: 0 $spacer;
    }
  }
}
.col--NoGutters {
  padding: 0;
}
