@charset "utf-8";
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100px;
  @include sp {
    font-size: calc(100px * 0.8);
  }
  @include tab {
    font-size: calc(100px * 0.8);
  }
}

body {
  font-size: 0.16rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}
