@charset "utf-8";
$pc: 960px; // タブレット
$tab: 959px; // タブレット
$sp: 767px; // スマホ

@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin textlink {
  &:hover {
    opacity: 0.6;
  }
}

@mixin hovereffect {
  @include pc {
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    &:before {
      content: "";
      z-index: -1;
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #f1f1f1;
      transition: 0.4s;
      opacity: 0;
    }
    &:hover:before {
      width: 100%;
      opacity: 1;
    }
  }
}
